APP_NAME="Luxury Urban"
APP_URL=https://luxuryurban.com.br
APP_DEBUG=false

DB_HOST=localhost
DB_PORT=3306
DB_NAME=u179630068_luxuryurban
DB_USER=u179630068_luxuryurban_us
DB_PASS=

SESSION_LIFETIME=28800
